body {
	font-family: 'Source Sans Pro', sans-serif;
}

html, body {
}

p {
	line-height: 1.4;
	font-size: 18px;
}

header {
	text-align: center;
}

header img {
	width: 100%;
	padding: 48px 0;
}

audio {
	width: 100%;
	display: block;
}

.row {
	margin-bottom: 48px;
}

.scene {
	margin-bottom: 6px;
	padding: 8px 0;
	border-bottom: 1px dotted #ccc;
}

footer {
	text-align: center;
	width: 100%;
	margin: 48px 0;
}

ol.scene-list {
	padding-left: 0;
}

ol.scene-list li {
	padding-left: 0;
	display: list-item;
}

.images img {
	width: 100%;
	border-radius: 3px;
}